.site-title {
color: white;
text-align:left;

}
.pad{
  padding-top:5%;
  text-align: left;
}

.pa{
  padding-top:2%;
}
.padmarg{
  padding-left: 80%;
  padding-top:3%;
  text-align: right;
}
.sidepanel  {
  width: 0%;
  position:fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  
}

.sidepanel a:hover {
  color: #f1f1f1;

}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
 
}

.openbtn:hover {
  background-color:#444;
}

.phimg{
  width:60px;
  height: 60px;
}
.nav{
  background-color: rgba(0, 0, 0, 0.9);
  
}
@media screen and (max-width: 768px) {
  .topnav a{
    display: none;
  
  }
}
@media screen and (max-width: 768px) {
  .topnav img{
    display: none;
   
  }
}
@media screen and (max-width: 800px) {
  .topnav p{
    display: none;
   text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .topnav h2{
    display: none;
  
  }
}

@media screen and (min-width:800px) {
  .topna {
    Visibility:hidden;   
  }
}

@media screen and (min-width:768px) {
  .topna h2{
    Visibility:hidden;   
  }
}

.flex-container {
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
  align-items: center;
}

.navv{
  color: white;
  display: block;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   padding: 5px;
   color:white;
   text-align: left;
   
 }
          
 .tax{
  
  width:1400px;
  height:500px
 }

 .rtaxi{
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:visible;
 }

 .dtaxi{
   display: block;
   text-align: center;
   
  }

  #sldimg{
  background-image: url(./../../assets/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  }

  .image-div h1{
    margin-top: 15%;
    letter-spacing: 20px;
    font-weight: 600;
    font-size: 4.0em;
    color: white;
    text-align: center;
  }

.colr{
    background-color: rgba(0, 0, 0, 0.7);
    height: 400px;
   }

.image-div h1::first-letter{
    color: #FBAA12;
  }

  .image-div h5 {
    letter-spacing: 10px;
    font-weight: 500;
    font-size: 1.6em;
    color: white;
    text-align: center;
  }

  .contact {
    background-color: #FBAA12;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
 
  .contact-image img{
    max-height: 500px;

  }
  
  .contact-image{
    width: 30%;
  }
  .contact-content{
    width: 70%;
    padding-top: 30px;
    text-align: center;
  }
  .img{
    color: white;
    
  }
  .space{
    letter-spacing: 10px;
    font-size: 1.0em;
  }
  .contactAir {  
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .features{
    background-image: url(https://robinstaxi.com/feature-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 50px;
    text-align: center;
  }

  .contact-content p{
    font-size: 1em;
    letter-spacing: 10px;
  }
  
  .feature-container img{
    height: 100px;
  }

  .flex-feature {
    display: flex;
    align-items: center;
  }

  .feature span{
    color: white;
    font-size: 30px;
    padding-left: 20px;
  }
  .feature{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
.vehicles img{
  width: 100%;
}

.vehicles button{
  width: 150px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card{
  padding: 0px;
  border: 0px;
}

.vehicles{
  padding-top: 30px;
  padding-bottom: 30px;
}
.contcall{
  width: 100px;
  height: 100px;
}

#footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.fotcl p{
  color: white;
  text-align: left;
}
.fotcl h1{
  color: white;
  text-align: left;
}
.fotclL{
  letter-spacing: 10px;
  color: white;
}
