<section class="nav">


  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <li>
          <h2 style="color: white;padding-top: 10%;">Robin'sTaxi</h2>
        </li>
        <div id="mySidepanel" class="sidepanel " >
          
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <a href="home">Home</a>
          <a href="news">Book A Taxi</a>
          <a href="about">About</a>
          <a href="contact">Contact</a>
          <a href="contact">Price</a>
          <a href="contact">Services</a>
        </div>
       <p class="padmarg topna" > <button class="openbtn " onclick="openNav()"><i class="fa fa-bars " style="color: white;"> </i> </button> </p>
      </div>
      
      <div class="col-md-5 topnav">

        <ul class="pad" >
          <li><a href="#home">Home</a></li>
          <li><a href="#news">Booking</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="#Services">Services</a></li>
        </ul>

      </div>

      <div class="col-md-1 topnav pa">
        <img src="./../../assets/call.svg" style="width:30px; height: 30px;">
      </div>
       <div class="col-md-3 flex-container topnav pa">


        <a href="tel+91:81719902798">
          <p class="navv">+1817-199-02798</p>

        </a>


      </div> 
     
    </div>
  </div>

</section>



<section id="sldimg">
  <div class="colr">
    <div class="container ">
      <div class="row ">
        <div class="col-md-6 image-div">
          <h1>Taxi</h1>
          <h5>WE ARE ALWAYS</h5>
          <h5>AT YOUR</h5>
          <h5>SREVICE</h5>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ">
          <img src="assets/mobe.png">
        </div>
        <div class="col-md-8 contact-content">
          <h2 style="text-align: center;">CALL US 24 HOURS</h2>
          <h1 style="text-align: center;"><a href="tel:+918171902798" class="img">1 817-190-2798</a></h1>
          <p class="space" style="text-align: center;">BOOK A TEXI FOR YOUR DESTINATION</p>
         
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="features">
    <div class="container feature-container">
      <div class="row flex-feature feature">
        <div class="col-md">
          <img src="./../../assets/speed.svg" width="100px" height="100px"><br />
          <span>FAST&SAFE</span>
        </div>
        <div class="col-md">
          <img src="./../../assets/taxi.svg" width="100px" height="100px"><br />
          <span>LUXURY CARS</span>
        </div>
      </div>
      <div class="row flex-featur feature">
        <div class="col-md">
          <img src="./../../assets/like.svg" width="100px" height="100px"><br />
          <span>BEST PRICE</span>
        </div>
        <div class="col-md">
          <img src="./../../assets/clean.svg" width="100px" height="100px"><br />
          <span>CLEAN& SANATISH</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <h1></h1><br />
  <div class="contactAir">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h1 style="text-align: left;">PRICES</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <h4 style="text-align: center;">Airports</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md"><b>Destination</b></div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md"><b>Price</b></div>
      </div>
      <div class="row">
        <div class="col-md">j&k</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">HP</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">UK</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">Uk</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>

      <div class="row">
        <div class="col-md">
          <h4 style="text-align: center;">Boroughs</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md"><b>Destination</b></div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md"><b>Price</b></div>
      </div>
      <div class="row">
        <div class="col-md">j&k</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">HP</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">UK</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
      <div class="row">
        <div class="col-md">Uk</div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">12000</div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>ABOUT COMPANY</h1>
      <p style="text-justify: auto;">
        Robins Taxi was started up just over 3 years back being a local transportation business offering complete taxi
        service in Middletown NY and surrounding regions. By offering professional, dependable service over the years,
        we are able trustworthy.
      </p>
      <p style="text-justify: auto;">
        You could book-on-demand requests or perhaps book a car for a future tour. We service most of the NYC Metro
        region such as LaGuardia, manhattan. We additionally service the nearby stadiums as well as venues etc.Today,
        thanks to our numerous regular clients, that compact business has grown to be a full-service land transportation
        business helping not just the neighborhood queens town, but the whole -State area with skilled well-trained
        drivers, together with a fleet of Cars, Vans, SUVs and also local taxis. The enlargement we experienced shows
        the day-to-day, hour-to-hour dedication by our administration and staff to offer trustworthy, safe, fast, polite
        and then continuous taxi service corona to you the consumer.
      </p>
      <p styel="text-justify:auto">
        We profoundly appreciate the chance to serve our local community, thank those customers who have been with us
        along the way and also welcome you to join the hundreds of RobinsTaxi customers that have enjoyed the diverse
        airport rides services we have offered over these three-plus years yet still going strong.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button type="button" class="btn btn-warning" style="background-color: #FBAA12;">BOOK NOW</button>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <div class="row vehicles">
      <div class="col-md ">
        <img src="./../../assets/sedan.png"><br />
        <button type="button" class="btn btn-warning" style="background-color: #FBAA12;">BOOK NOW</button>
      </div>
      <div class="col-md">
        <img src="./../../assets/SUV.png"><br />
        <button type="button" class="btn btn-warning" style="background-color: #FBAA12;">BOOK NOW</button>
      </div>
      <div class="col-md">
        <img src="./../../assets/van.png"><br />
        <button type="button" class="btn btn-warning" style="background-color: #FBAA12;">BOOK NOW</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md">
        <h1 style="font-weight: 600;text-align:left;">CONTACT US</h1>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md">
        <img src="./../../assets/home.svg"><br />
        <address>#86, Cottage Street<br />
          Middletown NY 10940</address>
      </div>
      <div class="col-md ">
        <img src="./../../assets/call.svg"><br />
        <a href="tel+91:81719902798">
          <h5 style="color: black;"> 817-199-02798</h5>
        </a>
      </div>
      <div class="col-md">
        <img src="./../../assets/email.svg">
        <a href="email:contact@robinstaxi.com">
          <h5 style="color: black;"> contact@robinstaxi.com</h5>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md fotcl">
        <h1>Robin's Taxi</h1><br />
        <p> Taxi in Orange County </p><br />

        <p> Van Rental in Orange County </p><br />

        <p>Taxi to New York</p><br />

        <p> Taxi in New York Airport </p><br />

      </div>
      <div class="col-md">
        <button type="button" class="btn btn-warning" style="background-color: #FBAA12;">BOOK NOW</button><br />
        <h1 class="fotclL">Robin's Taxi</h1><br />
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md">
            <img src="./../../assets/facebook.svg" style="width: 10px; height: 20px; text-align: center;">
          </div>
          <div class="col-md">
            <img src="./../../assets/instagram.svg" style="width: 20px; height: 30px; text-align: center;">
          </div>
          <div class="col-md">
            <img src="./../../assets/twitter.svg" style="width: 20px; height: 30px; text-align: center;">
          </div>
          <div class="col-md"></div>
        </div>
      </div>
    </div>
  </div>
</section>