.site-title {
color: white;
text-align:left;

}
.phimg{
  width:60px;
  height: 60px;
}
.nav{
  background-color: rgba(0, 0, 0, 0.9);
  
}
@media screen and (max-width: 768px) {
  .topnav a{
    display: none;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .topnav img{
    display: none;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .topnav p{
    display: none;
    width: 100%;
  }
}
.flex-container {
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
  align-items: center;
}
.navv{
  color: white;
  display: block;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   padding: 8px;
   color:white;
   
 }
          
 .tax{
  
  width:1400px;
  height:500px
 }

 .rtaxi{
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:visible;
 }

 .dtaxi{
   display: block;
   text-align: center;
   
  }

  #sldimg{
  background-image: url(./../../assets/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  .image-div h1{
    margin-top: 15%;
    letter-spacing: 20px;
    font-weight: 600;
    font-size: 4.0em;
    color: white;
    text-align: center;
  }

.colr{
    background-color: rgba(0, 0, 0, 0.7);
   }

.image-div h1::first-letter{
    color: #FBAA12;
  }

  .image-div h5 {
    letter-spacing: 10px;
    font-weight: 500;
    font-size: 1.6em;
    color: white;
    text-align: center;
  }

  .contact {
    background-color: #FBAA12;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
 
  .contact-image img{
    max-height: 200px;
  }
  
  .contact-image{
    width: 30%;
  }
  .contact-content{
    width: 70%;
    padding-top: 10px;
  }
  .img{
    color: white;
    
  }
  .space{
    letter-spacing: 10px;
    font-size: 1.0em;
  }
  .contactAir {  
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .features{
    background-image: url(https://robinstaxi.com/feature-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-top: 50px;
    text-align: center;
  }

  .contact-content p{
    font-size: 1em;
    letter-spacing: 10px;
  }
  
  .feature-container img{
    height: 100px;
  }

  .flex-feature {
    display: flex;
    align-items: center;
  }

  .feature span{
    color: white;
    font-size: 30px;
    padding-left: 20px;
  }
  .feature{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
.vehicles img{
  width: 100%;
}

.vehicles button{
  width: 150px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card{
  padding: 0px;
  border: 0px;
}

.vehicles{
  padding-top: 30px;
  padding-bottom: 30px;
}
.contcall{
  width: 100px;
  height: 100px;
}

#footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.fotcl p{
  color: white;
  text-align: left;
}
.fotcl h1{
  color: white;
  text-align: left;
}
.fotclL{
  letter-spacing: 10px;
  color: white;
}
